/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    width: 400px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.password-field {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #007BFF;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: blue;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

#copy {
    background-color:blue;
}

#copy:hover {
    background-color: #555555;
}
.background{
    background: url(1.webp);
    height: 100vh;
    /* background-image: linear-gradient(pink,grey); */
    }
    nav{
     width: 100%;
     height: 90px;
     background-color: red;
     
    }
    ul{
      float: right;
      margin-right: 20px;
      display: flex;
      
    }
     img{
        width: 25%;
        height: 50px;
        position: relative;
        top:70px;
        right:100px;
        z-index: 1;
        
        
    }
    .a1{
        color: white;
        text-decoration: none;
        font-weight: 200;
    }
    .a{
        display: inline;  
    }
    .b{
        display: inline;
    }
    .c{
        display: inline;
    }
    .d{
        display: inline;
        
    }
    .navbar{
        position:fixed;
        height:80px;
        width:100%;
    }
    .navbar ul li{
        float:right;
        margin-right:20px;
    }  
    .navbar ul li{
        list-style:none;
        margin:0 8px;
        display:flex;
    }
    
    .navbar ul li a:hover{
        border:2px solid;
        padding: 10px;
        margin: 5px;
        background-color: chartreuse;
        transition: 0.2s;
        border-radius: 20px;
        box-shadow: inset;
    }
    .center{
        position: relative;
        top: 50px;
        left: 50px;
        right: 50px;
        font-size: 70px;
        font-weight: 700;
    }
    .center1 button{
        position: relative;
        top: 80px;
        left:700px;
        background-color: #04AA6D; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer
    }